
00. Library override(ex. bootstrap etc) --------------------
01. Text and Typography ------------------------------------
02. Common element(ul,ol,li,body,div etc.) -----------------
03. Common class(padding, margin etc.) ---------------------
04. Header styles ------------------------------------------
05. Footer styles-------------------------------------------
06. Common content------------------------------------------
07. Pages and Posts-----------------------------------------
08. Extra styles--------------------------------------------
09. Media Query---------------------------------------------
*/
/* End Table of Contents */

/* Root variables define here */
:root {
	--font-family-primary: 'sans-serif';
	--font-family-secondary: 'sans-serif';
	--font-family-heading: 'sans-serif';
	--color-primary: #0d6efd;
	--color-secondary: #6c757d;
	--color-accent: #fd7e14;
	--text-light: #f8f9fa;
	--text-white: #ffffff;
	--text-dark: #212529;
	--bg-color-primary: #0d6efd;
	--bg-color-secondary: #6c757d;
	--border: 1px solid;
	--border-color-light: #f8f9fa;
	--border-color-dark: #212529;
	--border-radius: 10px 10px 10px 10px;
	--box-shadow: 1px 1px 10px 1px rgba(159, 159, 159, .3);
	--hover-box-shadow: 1px 10px 20px 1px rgba(159, 159, 159, .5);
}
/* Root variables define here */

/* 00. Library override(ex. bootstrap etc) start*/

/* 00. Library override(ex. bootstrap etc)   end*/
/* 01. Text and Typography start */
 
/* 01. Text and Typography end */
/* 02. Common element(ul,ol,li,body,div etc.) start*/
 
/* 02. Common element(ul,ol,li,body,div etc.) end*/
/*03. Common class(padding, margin etc.) start*/

/*03. Common class(padding, margin etc.) end*/
/*04. Header styles start*/
 
/*04. Header styles end*/
/*05. Footer styles start*/
 
/*05. Footer styles end*/
/*06. Common content start*/
 
/*06. Common content end*/

/*07. Pages and Posts satrt*/
/*Homepage satrt*/

/*Homepage end	*/
/*07. Pages and Posts end*/

/* 08. Extra styles start*/
/* 08. Extra styles end*/

/*09. Media Query start*/
@media screen and (min-width: 992px) {

}
@media screen and (min-width: 768px) {

}

@media screen and (max-width: 1199px) {

}
/*Tablet*/
@media screen and (max-width: 991px) {
	 
}
/*Small Device*/
@media screen and (max-width: 767px) {

}
/*Mobile Device*/
@media screen and (max-width: 640px) {
	 
}
/*Extra Small Mobile Device*/
@media screen and (max-width: 480px) {
 
}
@media screen and (max-width: 420px) {

}
/*09. Media Query end*/
